version: 2.1

orbs:
  node: circleci/node@4.7

jobs:
  tests:
    docker:
      - image: circleci/node:12.4 
    steps:
      - checkout
      - run: npm install
      - run: npm run test
  linter:
    docker:
      - image: circleci/node:12.4 
    steps:
      - checkout
      - run: npm install eslint
      - run: npm run lint

workflows:
  koaSetupJobs:
    jobs:
      - linter
      - tests:
          requires:
            - linter
        
